/* shared style */
/* * {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
} */

.btn-primary {
    padding: 10px 25px;
    border-radius: 8px;
    background: #E55473;
    border: 0;

}

.btn-text {
    color: #FFF;
    font-size: 15px;
    font-weight: 700;
}

/* home section related style */
.home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
    background-color: rgba(229, 84, 115, 0.10);
}

.home-title {
    color: #272727;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 10px;
}

.home-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;

}

.first-pic {
    width: 400px;
    height: 500px;
    margin-bottom: 0;
}


/* featured related style */
.featured {
    text-align: center;
}

.featured-parent {
    margin: 100px 15px;
}

.featured-title {
    color: #272727;
    text-align: center;
    font-size: 50px;
    font-weight: 800;

}

.featured-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 50px;

}

.featured-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 50px;

}

.images {
    width: 200px;
}

.pic-1 {
    border-top-right-radius: 150px;
    border-top-left-radius: 150px;
    background-color: rgba(167, 33, 98, 0.15);
    padding: 60px 58px 0px 58px;

}

.pic-2 {
    border-top-right-radius: 150px;
    border-top-left-radius: 150px;
    background-color: rgba(5, 151, 160, 0.15);
    padding: 80px 58px 60px 58px;


}

.pic-3 {
    border-top-right-radius: 150px;
    border-top-left-radius: 150px;
    background-color: rgba(71, 125, 17, 0.15);
    padding: 35px 58px 0px 48px;


}

.flower-tree {
    text-align: center;
    color: #272727;
    text-decoration: underline;
    font-weight: bold;
}

/* service section start */

.service {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: 40px 100px;
    padding: 50px 70px;
    text-align: center;
}

.box-text {
    color: rgba(39, 39, 39, 0.80);
    font-size: 15px;
    font-weight: 600;

}

/* sign-up section style */
.sign-up{
    display: flex;
    align-items: center;
    justify-content: space-around;
  background-color: rgba(229, 84, 115, 0.05);
    border-radius: 8px;
    text-align: center;
    margin: 80px 0;
    height: 70vh;
}
#rose-pic{
    width: 200px;
}
#btn{
    margin-top: 0px;
}
#service-description{
    margin-bottom: 15px;
}
/* instagram section style */
.instagram{
    text-align: center;
}
.insta-images{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 100px;
    padding-top: 0;
  

}
.insta-images-list{
    width: 200px;
    
}
#insta-id{
    margin-bottom: 25px;
}

/* latest deal section style */
.banner{
    text-align: center;
    background-image: url('images/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 1120px;
    height: 300px;
    margin: 50px 30px 50px 110px;

 

}
.deal-title{
    color: #272727;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    margin-top: 60px;
 padding-top: 80px;
 margin-bottom: 10px;
}
.deal-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-style: normal;
    font-weight: 400;
    margin-top: 0px;
   
}
 div input{
    padding: 10px 200px 10px 10px;
    border-radius: 5px;
    border: 0;
    
} 

/* footer section style */
.footer-section{
    text-align: center;
    background-color: #111010;
    height: 35vh;

}
.footer-title{
color: white;
font-size: 30px;
padding:50px 100px 0px 100px ;
}
#flower{
    color: #E55473;
}
.footer-description{
    color: rgba(255, 255, 255, 0.90);
   
 
}
#copyright{
    color: rgba(255, 255, 255, 0.40);
}
/* review section style */
.review{
    background-color: rgb(223, 176, 191);
    margin: 50px 100px;
    height: 70px;
}
.review-title{
    text-align: center;
    padding:20px 80px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#review{
    color:rgb(190, 16, 74);
}
.review-box-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.review-box{
    background-color: whitesmoke;
    gap: 20px;
    margin: 20px 100px;
}
.icon-color{
    color: pink;
}